<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link type="text/css" rel="stylesheet" href="/stylesheets/application.css">
  <title>
    提交成功！
  </title>
</head>
<body>
  <h2>提交成功！</h2>
  你的信息已经被提交。<br>
  如果你想修改你喜欢的人或想修改要说的话，重新提交一遍即可。<br>
  点击<a href="http://fanfou.com/privatemsg">这里</a>，立刻查看你有没有新的私信。<br>
  愿你能在不久的未来有美好的邂逅。<br><br>
  <a href="/">&lt;&lt; 返回</a>
</body>
</html>