body {
    font-family: Arial, Verdana, STHei, "Sans Serif";
    font-size: 14px;
}
.warn {
  color:red;
}
.form_title {
    text-align:right;
    font-weight:bold;
}

table.user_table {
    border:1px gray solid;
}

th {
    background-color: silver;
}

table caption {
    font-size:16px;
    text-align:left;
}